.grid {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 60px;
}

.gridItem {
    /* background-color: #7a7d84; */
    background-color: #212121;
    margin: 1px;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transition: all 0.1s ease-in-out;
}

.gridItem #one {
    /* background-color: #7a7d84; */
    background-color: red;
    margin: 1px;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transition: all 0.1s ease-in-out;
}

.gridItem:hover {
    background-color: #a8aaaf;
    transition: all 0.1s ease-in-out;
}

.isWall {
    background-color: black;
}

.isRobot {
    background-color: red;
}