.grid {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 60px;
}

.gridItem {
    /* background-color: #7a7d84; */
    background-color: #212121;
    margin: 1px;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transition: all 0.1s ease-in-out;
}

.gridItem:hover {
    background-color: #707072;
    transition: all 0.1s ease-in-out;
}


.zero {
    background-color: red;
}


.isMine {
    background-color: green;
}

